[2015-05-25 14:37] joachimhs opened #5 "meta() has no access to the context"
When implementing the meta() function, it has no access to the route's properties. In fact, "this" is undefined, so even this.controllerFor('routeName') fails.

I've "solved" this  by hacking the call the setMeta() inside of the _runSetMeta() function, adding "this" as the only parameter to meta():

So, instead of:

    return this.setMeta(meta());

I am left with:

    return this.setMeta(meta(th

[2015-05-25 14:48] ronco commented on #5
Hi @joachimhs,

Thanks for bringing this to my attention.  The context for the execution of `meta` should definitely be set to the route.  I'll get that fixed this morning and ensure I have a test that would catch this in the future.

Thanks!

[2015-05-25 14:59] sunil-shrestha commented on #5
If you want to set metaTags from other properties or set from model itself, one way could be run setMetaTags function afterModel. Here is an example that worked for me.

    export default Ember.Route.extend(RouteMetaMixin,{
     metaTags: {},

     afterModel: function(model) {
  	   this.setMetaTags(model);
     },

     setMetaTags: function (model) {
       var metaTags = {
         'name': {

[2015-05-25 15:27] #5 closed

[2015-05-25 15:30] ronco commented on #5
@joachimhs It should be fixed in 0.1.1 which I just published to npm.  Let me know if you run into any issues.  Thanks again!

[2015-06-18 23:40] christiannaths commented on #5
@sunil-shrestha Thanks for posting your example. Real, working, and practical examples like that really need to be in the readme!  cc/ @ronco

[2015-06-19 01:49] ronco opened #7 "Improve Documentation"
- [x] Examples with dynamic data
 - [x] Update API documentation of `meta` property for object vice function usage.

[2015-06-20 01:43] #7 closed

[2015-07-02 15:42] gdub22 opened #11 "Support tags other than meta"
For example, `link`, which has some uses under the same realm of document metadata:
[code]

[2015-07-02 16:00] ronco commented on #11
@gdub22 This is a great idea.  I've tackled canonical links separately in the past but I think it would fit in well with this library.

For quick requirements I'm thinking:
 - [ ] able to construct elements
   - [ ] arbitrary element type
   - [ ] arbitrary attributes and values
 - [ ] ability to clear tags set on transition (consistent with current meta behavior)

We could add a new `headTags` pr

[2015-07-02 16:53] gdub22 commented on #11
@ronco Excellent. Glad you are interested in this.

Looks like the structure for defining the metadata may have to be changed to support this.
Here's one proposal:
[code]

Clearing is tricky as you mention.  One concern is supporting fastboot, where the selector based approach would not work anyway.
I've played around with the idea of using a component that you inject into the head.  The component

[2015-07-02 17:45] ronco commented on #11
Hey @gdub22,

I would **love** to have this wrapped up in a component rather than manually manipulate the dom elements with jQuery.

However I'm not sure how to inject an ember component outside of the ember-application element.  I looked into [ember-wormhole](https://github.com/yapplabs/ember-wormhole), but it requires the component to be in the same element as the ember app.  I'll play around wi

[2015-07-02 18:53] jpadilla commented on #11
@ronco Just proposed https://github.com/tildeio/ember-cli-fastboot/pull/49 to allow setting meta tags. If that or something similar goes through I could help update this library to support it.

I don't think this needs to be a component at all a mixin like it is now works just fine or even how `ember-cli-document-title` does it.

[2015-07-02 20:42] ronco commented on #11
Hey @jpadilla, that PR looks great and I would greatly appreciate help in getting this library fastboot compatible.

I think in the mean time it makes sense to enhance this library's API to support arbitrary head tags, and then when your PR gets incorporated into fastboot we can get get that support fastboot compatible as well.

Thanks!

[2015-07-06 22:48] ronco opened #12 "Fastboot Support"
Current implementation will not pre-render the meta tags within [ember-cli-fastboot](https://github.com/tildeio/ember-cli-fastboot).

Dependent on resolution to https://github.com/tildeio/ember-cli-fastboot/pull/49 and/or https://github.com/krisselden/simple-dom/pull/12.

[2015-07-07 03:30] ronco commented on #11
@gdub22 I'm starting work on supporting additional head tags.  I'm going to use the data structure you've suggested with the addition of an optional `selector` key.  That will be used for clearing tags on transition if provided.  The auto clearing really isn't essential for a pre-rendered solution, but is nice to have for development and sanity checking.

I hope to have the code and tests wrapped

[2015-07-08 01:08] gdub22 commented on #11
@ronco awesome!  I started to put together a proof of concept with that data structure and using the component-based approach I mentioned.  This alleviates the need for selectors and manually clearing the tags and means it also should work with fastboot.  Let me know your thoughts and if you want to combine forces: https://github.com/gdub22/ember-document-meta

[2015-07-08 01:23] jpadilla commented on #11
@gdub22 looking great!

[2015-07-08 02:13] ronco commented on #11
@gdub22 That component solution is excellent!  It looks like you've already proof of concepted the core functionality.  I would love to join forces on this.

[2015-07-09 02:16] ronco opened #13 "Remove direct DOM manipulation"
Refactor to use Ember idioms/tools to construct the head tags and avoid direct DOM manipulation.

[2015-07-13 16:47] martinbottanek opened #14 "Support for content-for"
It would be great if we could push the meta tags to a {{content-for 'meta'}} helper, not just append them at the bottom of <head>

[2015-07-13 16:53] ronco commented on #14
Thanks for the issue @martinbottanek.  I have been thinking about how content-for support could work in with this.  Out of curiosity what's your use case for targeting a specific location in the head tag?

With this is we could bring in support for static meta tags that ember-cli would add when constructing index.html.  Then continue to dynamically set additional tags on transitions.

[2015-07-26 03:13] optikalefx opened #15 "Deprecation warning for installation"
This command has been deprecated. Please use `ember install <addonName>` instead. Using Ember CLI 1.13.1

[2015-07-26 03:28] optikalefx opened #16 "How is this helpful?"
The meta tags are added via JS. (obviously I guess). But Facebook share can't pick those up. So what is the point? Or am I missing a huge part of this?

[2015-07-26 03:32] optikalefx commented on #16
It seems like I need to have nginx route 1 specific route to my API server. Which has to somehow server data into the HTML page for ember to pick up

[2015-07-26 04:34] ronco commented on #16
Hey Sean,
Sorry for the confusion. Yes in order to get the benefit of this library
with a bot like Facebook you will need to pre-run the ember app server side
and deliver the resulting html.
There are services out there that will do this for you with phantomjs. I
personally use prerender.io. It has middleware adapters for several server
platforms including rails, node and nginx.
If you are using a

[2015-07-26 15:29] optikalefx commented on #16
Interesting, so with prerender, I suppose you use the nginx module? Since ember apps are served statically?

[2015-07-26 15:39] ronco commented on #16
We actually use the expressJs middleware since we do have a very small
amount of server side logic for the initial page load written in node. I'm
sure the nginx module works great for purely static serving.
If your stack would support node (or another dynamic server) I recommend
you check out ember-cli-deploy combined with node-ember-cli-deploy-redis.
The combo makes for really smooth deployments

[2015-07-26 15:51] optikalefx commented on #16
Yea we are a heavy ember-cli user, and I have an express based API server that the app connects to.  I have a really small deploy bash script that I use. It builds ember-cli for production, pulls the server, restarts and scp's all the files.  I see that cli-deploy uses s3 as a CDN, so there's that. But otherwise, i'm not sure the benefit over the bash script. (it's only 8 lines).  Why do you prefe

[2015-07-26 16:02] ronco commented on #16
The main benefit of ember-cli-deploy is it takes care of updating your
index.html file with hash versioned css and js links and then it tracks
multiple copies of your index allowing you to test in production on a
different version than the one you've activated for users. Nice for sanity
checking before a bug hits production and makes for easy rollback if a
major bug slips through.

I know the syst

[2015-07-26 16:48] optikalefx commented on #16
s3 makes sense, but what are you using redis for? (we use it for sessions on the api server).
can't you just render the GIT hash into the index html to achieve the same sanity check?

[2015-07-26 16:51] optikalefx commented on #16
I guess for the single html file? Does that really need to be in a store? (I can move this discussion to slack if you want)

[2015-07-26 16:55] ronco commented on #16
With ember-cli-deploy-redis the index.html content for the last 10
deployments are actually stored in redis as well as a key pointing to which
one is currently active.

Rather than using the git revision for the files it uses a hash (sha1 I
think, but I may be mistaken) of the compiled asset file. The advantage
here is for long lived caching. If you do a deploy that only changes the
application js

[2015-07-27 14:19] #15 closed

[2015-07-27 14:20] ronco commented on #16
@optikalefx I'm going to close out this issue.  Feel free to open up a new one if you find any issues with this library, and hit me up @ronco on ember-slack.

[2015-07-27 14:20] #16 closed

[2015-07-27 15:32] optikalefx commented on #16
Awesome, will do. Thanks

[2015-08-19 16:17] marlonmantilla opened #18 "Adding Apple Smart App banner not showing up in iPhone"
Hi guys currently experience this when  [Adding apple smart app banner meta tag](http://stackoverflow.com/questions/32100736/ember-cli-apple-smart-app-banner-not-working) ...

I'm new to Ember and specially EmberCLI so any ideas will appreciate it.

[2015-08-19 16:38] ronco commented on #18
Hey @marlonmantilla.

I'm not experienced with the apple smart app banner myself (I've used a home grown ember component as an app banner).  From another [stack overflow question](http://stackoverflow.com/questions/31289530/load-ios-smart-app-banner-through-javascript) it looks like Safari won't recognize the app banner tag if it's added asynchronously.

I'm working on getting this library to be [

[2015-08-20 01:10] marlonmantilla commented on #18
Hi @ronco ` Could you parse the url server side and set up the meta tag on the initial html delivered to Safari? ` I was thinking on that possibility thanks for the suggestion, but I'm not sure how to add content to the initial html I assume the index.html file.

On the server side rendering I'm using [Ember-prerender](https://github.com/zipfworks/ember-prerender) which solves my social network me

[2015-08-20 02:11] ronco commented on #18
Hey @marlonmantilla,

I wasn't familiar with `Ember-prerender`.  I actually use Todd Hooper's prerender service which they mention as an inspiration for Ember-prerender.  That service has the same limitation in that it only runs for bots, and strips out your javascript so the resulting page is completely static (no ember anymore).

Yeah, you would need to manipulate the index.html before sending i

[2015-09-16 12:52] benmurden opened #19 "Multiple tags produced on nested routes."
Let's say I have a route that looks like `/collection/book/chapter`, and each route level had its own, different, meta tags. Currently, when visiting a chapter, all the meta tags for the chapter, book, and collection will be rendered, meaning that services like Facebook will only pick up the latter, because it appears farthest down the DOM.

We'd like to replace the meta tags when traversing down

[2015-09-16 13:09] ronco commented on #19
Hey Ben,

Thanks for reporting this. Currently there is not a way to do that.

However I'm really glad you brought this up now. I'm in the process of
rewriting the implementation to be backed by a service and I wasn't certain
if anyone was nesting tags.

I'll make sure to preserve that feature (and fix these collisions). I think
the natural behavior would be to have the nested most tags take prece

[2015-09-16 13:22] benmurden commented on #19
@ronco

Fantastic, thanks for your quick response. Services do seem to be the way to do this sort of thing, now.

You'd be correct, the rightmost (deepest) route should take precedence, as it would in a regular webpage. If we need to bubble up to higher level details for any reason we can easily use a combination of conditionals and model relation traversing.

I'm happy to help debug when you have

[2015-09-16 14:13] ronco commented on #19
Great!

I'll cc you on the PR when I open it.

On Wed, Sep 16, 2015 at 7:22 AM Ben Murden <notifications@github.com> wrote:

[2015-09-20 14:28] pedrokost opened #21 "Duplicate meta tags"
If I have a meta-description tag in the index.html, and try to replace it with a specific one using this addon, it will not replace the existing meta tag, but just add a new one below.

[2015-09-20 16:34] ronco commented on #21
Hey Pedro,

I can't think of a way to accomplish what you're looking for with the
current release. However the next release has the ability to override
parent tags in child routes.

With this you would include the base meta-description tag in your
application route and then other routes that provide that same tag would
replace it.

The currently open PR #20 has this feature if you want to give it

[2015-09-20 16:43] pedrokost commented on #21
Hi @ronco,

I will be looking forward to the next release. For now, I have removed the meta-description from the `index.html` and have added it using your addon to all the *child* routes. This is good enough for awhile, the only worry I have it how removing the meta-description from the `index.html` will affect SEO on search engines which don't execute Javascript.

Cheers

[2015-09-20 16:50] ronco commented on #21
Hey Pedro,

For search engines and Facebook you should definitely take a look at
prerender.io or ember-prerender. That will make sure you get the benefit of
this library for all bots and nested routes.

If those aren't an option I can imagine a solution where this library
provides a content-for block that builds in default tags created with a
config. And then at run time it treats those configured

[2015-10-20 11:14] wilgoszpl commented on #21
@ronco, is there any update about when this feature could be officially available?

[2015-10-20 11:33] ronco commented on #21
Hey @wilgoszpl

Sorry the PR stalled out on documentation. The tests are done on that PR now. I'll work on the documentation updates tonight.

[2015-10-20 23:29] ehubbell commented on #19
Can anyone comment on the status of this issue? Would love to take advantage of this feature.

[2015-10-20 23:36] ronco commented on #19
Hey Eric,

I stalled out on updating documentation for this. I'm going to put it
together tonight. Sorry for the delay!

-Ron
On Tue, Oct 20, 2015 at 5:29 PM Eric Hubbell <notifications@github.com>
wrote:

[2015-10-20 23:37] ehubbell commented on #19
No sweat Ron! Thanks for the update and I’ll look for the update. Appreciate your efforts :)

Eric

On Oct 20, 2015, at 5:36 PM, ronco <notifications@github.com> wrote:

Hey Eric,

I stalled out on updating documentation for this. I'm going to put it
together tonight. Sorry for the delay!

-Ron
On Tue, Oct 20, 2015 at 5:29 PM Eric Hubbell <notifications@github.com>
wrote:

—
Reply to this email di

[2015-10-21 08:22] Soolan opened #22 "issue with facebook"
Thank you for this wonderful add-on.
I can generate dynamic social tags and I can see them.
The problem that I have is that I can't see the proper preview when I share a link on facebook.
Any idea why it happens?

P.S
When I inspect the page in my browser (chrom, firefox, ...), I see the meta tags
but when I look at the page source, they are not there.
Could it be the reason? if yes how can I reso

[2015-10-21 12:07] wilgoszpl commented on #21
Thanks, I need this feature very much to implement in my project.

[2015-10-21 15:57] ronco commented on #22
Hey @Soolan,

The problem is Facebook doesn't execute javascript with their bot.  So you just get the initial `index.html` with none of your ember application content.

The best solution for this (for now) is to use a service like [prerender.io](https://prerender.io/) or possibly an addon like [ember-prerender](https://github.com/zipfworks/ember-prerender).

Both of those require you to host your

[2015-10-22 05:13] Soolan commented on #22
Hello Ron,
That perfectly explains everything.
Thank you so much for your reply.
Kind Regards,
Sohail.

[2015-10-22 05:13] Soolan commented on #22
Hello Ron,
That perfectly explains everything.
Thank you so much for your reply.
Kind Regards,
Sohail.

[2015-10-22 05:14] #22 closed

[2015-10-23 01:44] #11 closed

[2015-10-23 01:44] #13 closed

[2015-10-23 01:44] #19 closed

[2015-10-23 01:44] #21 closed

[2015-10-27 04:35] ehubbell opened #24 "OG & Twitter not reading our meta tags"
Hi There,

I've implemented the updated library for nesting dynamic meta tag data however it appears that neither OpenGraph nor Twitter are reading our new meta tags.

When I look at our <head> file I see all the meta tags I've just created listed at the bottom of our <head> file. When I visit the OG Debugger & Twitter Validator - neither receive any of the content from our meta tags. When I hardc

[2015-10-27 15:34] ronco commented on #24
Hey Eric,

I'm sorry to hear you're having trouble.

Do you have some sort of application server (express.js, rails etc.) serving your index.html?  Most crawlers (Google being the only exception I'm aware of) do not execute javascript.  So Facebook and Twitter won't see any page content that is generated by js and thus Ember and this library.

You can simulate accessing your page as Facebook with

[2015-10-29 19:39] ehubbell commented on #24
Hey Ron,

I see. We’re working on incorporating Prerender.io <http://prerender.io/> but are running into issues there now. Will report back when that’s finished.

Thanks for the help!
- Eric

On Oct 27, 2015, at 9:34 AM, ronco <notifications@github.com> wrote:

Hey Eric,

I'm sorry to hear you're having trouble.

Do you have some sort of application server (express.js, rails etc.) serving your ind

[2015-11-08 21:35] graham73may opened #26 "Support for itemprop"
One of those projects where all the sharers are required so I'm adding in 'The Full Monty' from:
https://moz.com/blog/meta-data-templates-123

This includes:
[code]

[2015-11-08 21:40] ronco commented on #26
"Full Monty" nice!

Looks reasonable. Should be a simple add. Would you like to submit a PR? If
not I can get to this in the next couple of days.

Thanks!

On Sun, Nov 8, 2015 at 2:35 PM graham73may <notifications@github.com> wrote:

[2015-11-09 08:13] graham73may commented on #26
Pull request submitted - #27

[2015-11-09 18:46] #26 closed

[2015-11-09 18:46] ronco commented on #24
Hey Eric,

How's the prerender.io integration coming along?

-Ron

[2015-11-09 18:59] ronco commented on #26
@graham73may just published 1.0.1 to npm with this.  Thanks for the PR!

[2015-11-12 06:45] ehubbell commented on #24
Hi Ron,

Thanks for the follow up. Yeah, I've taken a look at Prerender.io going so far as to install the middleware on our rails server and follow the installation / testing directions on their website. When I test our website using Prerender.io's methods, I see the correct HTML in our source file without any Javascript. I can also log into my Prerender.io account, click 'Preview Raw HTML', and s

[2015-11-12 16:49] ronco commented on #24
Hey Eric,

I don't have any direct experience with the rails middleware, I've only used the node.js middleware.

@thoop do you have any ideas on what may be causing @ehubbell issues?

Thanks,

Ron

[2015-11-21 07:57] ianpetzer opened #28 "Using async relationships"
Is there a way to use async relationships in the headTags function?

Currently if I refer to an async relationship, then i get undefined show up in the meta tag, and I can't return a promise from headTags function.

[2015-11-21 15:17] ronco commented on #28
Hey @ianpetzer,

Good question.  I like the idea of understanding a promise in headTags.  It gets a little complicated in the implementation, but I'll be thinking about how it might be done.  As always pull requests are welcome if you want to take a crack at it.

I think there are a couple of approaches you could use to get this working with the addon in it's current state:

 1. If you're ok with

[2015-11-22 06:00] ianpetzer commented on #28
Ron,

Thanks so much for getting back to me. I actually implemented the first
suggested solution before contacting creating this issue.

I think the second option is a great idea, so I don't need to block the
transition.

Thanks for the great ideas.

On Sat, Nov 21, 2015 at 5:17 PM, ronco <notifications@github.com> wrote:

[2015-11-23 21:02] ronco commented on #28
Great @ianpetzer!  I'm glad that helped out.  I'm going to keep this issue open as a possible enhancement.  I like the idea of supporting promises out of the box (although the complexities might keep me from building a solution anytime soon).

[2015-12-07 18:53] ehubbell commented on #24
Ron,

We got this figured out. The issue was on our end. We were trying to serve the HTML using Prerender from our Rails server. Turns out, our Ember app is served by a separate Node.js server. Communication issue on our end. The library is now working great. Thanks for your help.

Best,
Eric

On Nov 12, 2015, at 9:49 AM, ronco <notifications@github.com> wrote:

Hey Eric,

I don't have any direct

[2015-12-07 18:59] ronco commented on #24
Hey Eric,

Thanks for the update!  I'm glad to hear you got it all worked out.

Cheers,

Ron

[2015-12-07 18:59] #24 closed

[2016-03-25 23:49] mlchai opened #30 "facebook crawler not reading meta tags"
I think I might be missing something. The package itself works just fine, but it seems to not process in a way that facebook's crawler sees the tags. Is there a way to get this package to insert the tags so that crawlers can see them?

[2016-03-26 01:17] ronco commented on #30
Hi @mlchai,

Facebook's crawler doesn't execute JavaScript. So this package alone (which executes purely within the js Ember app) can't produce those tags for Facebook. You'll need to prerender your app server side and serve a static html page for Facebook to understand your tags. This can be done with a service such as prerender.io and soon ember-cli-fastboot.

You can take a look at #16 and #24

[2016-03-28 17:31] mlchai commented on #30
Thanks for links, those seem promising. Gonna close this for now but will reopen if anything comes up.

[2016-03-28 17:31] #30 closed

[2016-04-27 01:15] rondale-sc commented on #12
@ronco Both of these issues seem to have been merged.  Is this addon now fastboot compatible?

[2016-04-27 01:25] rondale-sc commented on #12
Was looking at #29 and plugged it into my app.  Started blowing up on this line: https://github.com/ronco/ember-cli-meta-tags/pull/29/files#diff-ea7ed9533b757165c39f249f4d3f7d5bL22.  If I can help on this issue in anyway let me know.  :beers:

Also, awesome addon.  Thanks for all the good work.

[2016-04-27 01:30] ronco commented on #12
Hey @rondale-sc,

Yeah I ran into that issue with `Ember.$` as well.  I actually fixed that up last week (forgot to commit) and ran into [this](https://github.com/tildeio/htmlbars/pull/455).  Once that's merged into htmlbars/ember I think we'll be set.  I'll ping the rest of the FastBoot team tomorrow on that PR and see if we can get it moving.

Thanks!
-Ron

[2016-05-17 15:10] mschinis commented on #12
Hey all, is there any progress or estimate on this?

[2016-05-17 18:53] ronco commented on #12
@mschinis Yes!  It is working with fastboot + ember canary now.  I will cut a 2.0.0 release this afternoon.  Thanks for the nudge 😄

[2016-05-17 18:53] #12 closed

[2016-05-17 19:28] ronco commented on #12
@mschinis I just published 2.0.0 to npm.  Let me know if you see any issues.

[2016-06-10 14:55] vsymguysung opened #33 "Recommended way of adding valid tags"
I am trying not to hard-coded `VALID_HEAD_TAGS` to support `noscript` tag.
Any recommended way of doing this ? Thanks in advance.

[2016-06-10 15:14] ronco commented on #33
Hey @vsymguysung,

This is a great point.  I think the addon should support `noscript` out of the box.  Would you like to submit a PR for this?  Otherwise I can add it this weekend.

Thanks!

[2016-06-10 15:22] vsymguysung commented on #33
@ronco I will do that. Thanks again for the addon ! 👍

[2016-06-10 18:32] ronco commented on #33
@vsymguysung published as v2.0.1.  Thanks!

[2016-06-10 18:32] #33 closed

[2016-07-13 15:55] ronco opened #35 "Support title tag"
title should be a valid supported head tag.

[2016-07-13 16:12] ronco commented on #35
Fixed by #36

[2016-07-13 16:12] #35 closed

[2016-08-19 14:50] claire-lee opened #37 "Unable to create link tags with Fastboot"
Not sure if this is an issue with the add-on or with my setup - I'm currently trying to generate tags such as `<link href="something" rel="next">` in my Ember app, but these tags don't appear in the DOM on initial load with Fastboot (but do appear when the page loads normally). My code looks something like this:
[code]
I'm also adding title and meta tags in this method, and those appear in the DOM

[2016-08-29 16:33] claire-lee commented on #37
Looks like upgrading to Ember 2.7 fixed this issue

[2016-08-29 16:33] #37 closed

[2016-08-29 17:37] ronco commented on #37
Hi Claire,

Sorry for the non-response on this initially.  I've been pre-occupied with the day job and moving the past couple weeks.

Glad to here Ember 2.7 fixed it up.  Yes 2.7 is required for full Fastboot compatibility.

[2016-09-11 18:18] blimmer opened #39 "Create 2.0.2 release in GH Releases"

[2016-09-15 09:42] oscarni opened #40 "Error in Ember 2.8: Component error can't use 'attributeBindings' on a tag-less component"
In Ember 2.8 this addon prevents the page from rendering and Ember throws error:

[code]

How can we resolve this?

[2016-09-15 15:28] oscarni commented on #40
Never mind, I had another addon adding `attributeBindings` to all components. This addons still works as expected 👍

[2016-09-15 15:28] #40 closed

[2016-09-15 21:29] ronco commented on #39
🎉 https://github.com/ronco/ember-cli-meta-tags/releases/tag/v2.0.2

[2016-09-15 21:29] #39 closed

[2016-09-16 03:56] blimmer commented on #39
Theeeenks

[2016-09-17 19:32] milindalvares opened #41 "Doesn't work on ember-cli 2.8.0?"
I was struggling to get it to work with my app, then decided to try on a fresh install of 2.5.1. Worked fine on that. Updated that to stock 2.8.0, and same problem.
![screen shot 2016-09-18 at 1 01 48 am](https://cloud.githubusercontent.com/assets/5129514/18610492/825efd08-7d3b-11e6-8815-03b44961e603.png)

[2016-09-17 21:36] milindalvares commented on #41
Looking at Issue #40 it seems to be working for that person. I've pushed a test app repo [here](https://github.com/milindalvares/testapp-ember-meta-tags) in case anyone feels like looking at it.

[2016-09-18 02:17] Cerealkillerway commented on #41
For me too it is not working anymore after upgrading to ember 2.8.0 (was working fine on 2.7)

[2016-09-20 10:13] linearza commented on #41
Same here - tracing it, it seems the instance initializer isnt fired up, so need to now call the tag collection explicitly via the service everywhere:

[code]

[2016-09-20 14:36] ronco commented on #41
Thanks for the investigation @linearza!  I'll see if I can get to the bottom of it tonight.

[2016-09-21 03:43] ronco commented on #41
@milindalvares @Cerealkillerway @linearza Please have a look at #42 .  I think this solves the issues with Ember 2.8.  If it works for you I'll merge and cut a new release to npm.

[2016-09-22 02:58] #41 closed

[2016-09-22 03:05] ronco commented on #41
Published as 3.0.0 (major semver bump since this definitely drops Ember versions < 2.0).

[2016-10-19 16:50] patcoll commented on #40
I am getting this error. I removed the library and usage of `ember-cli-meta-tags` and this error went away.

I did a quick grep and the problem seems to be in `ember-cli-head`, so I'm guessing the problem is there? Can anyone provide any direction?

[2016-10-20 20:16] jakeleboeuf commented on #40
@oscarni which addon was that?

[2016-10-20 20:27] oscarni commented on #40
`ember-hammertime` added an attribute bindning in its initializer. I believe theyve fixed it though.

[2016-11-02 16:10] ronco opened #47 "Restore support for Ember versions < 2.8"
This was broken with #43, and can be fixed by using [ember-runtime-enumerable-includes-polyfill
](https://github.com/rwjblue/ember-runtime-enumerable-includes-polyfill) package.

[2016-11-14 02:45] blimmer commented on #18
@ronco I think this can probably be closed?

[2016-11-14 15:17] #47 closed

[2016-11-14 15:17] #18 closed

[2016-12-01 22:27] bcardarella opened #50 "[Proposal] CP-ify all the things"
**Warning** this idea is kind of rough right now and may make more sense in my head than how I am articulating here. In any event, I think the basic concept makes sense and would appreciate thoughts on its merit.

Problem: Currently meta-tags builds the `headTags` object by crawling up the routes. It will collect and build an `Ember.A` object with the values from each route level. This presents wh

[2016-12-02 04:01] ronco commented on #50
I think this is a great idea and much more in line with standard Ember practices.  The current tag reset implementation has always been a bit inconvenient.

I'm happy to have a look if you start prototyping this.

@blimmer thoughts?

[2016-12-10 18:45] blimmer commented on #50
👍  going with computed properties certainly feels more ember-y and could help reduce computationally heavy re-crawling on every transition.

I could definitely see some unknown issues with the refactor but I'd be happy to have a look some initial prototyping as well.

[2016-12-10 18:54] bcardarella commented on #50
I need to carve out a day or two to spike the implementation. Maybe before the New Year.

[2017-01-30 14:33] kpfefferle opened #51 "EventDispatcher should never be instantiated in fastboot mode."
Ember: 2.11.0
Ember CLI: 2.11.0

Steps to reproduce:
[code]

Upon visiting http://localhost:3000/ in the browser:
[code]

[2017-01-30 14:37] kpfefferle commented on #51
Parallel issue raised in ember-cli-head: https://github.com/ronco/ember-cli-head/issues/18

[2017-01-30 14:47] kpfefferle commented on #51
This seems to be resolved now with a clean reinstall of all upstream dependencies ¯\_(ツ)_/¯

[2017-01-30 14:47] #51 closed

[2017-02-15 19:53] XaserAcheron opened #52 "Support 'alternate' and 'title' attributes for <link> tags."
See title -- these two obscure-ish properties are needed to properly set up Alternative Stylesheets. See section 4.8.4.11 [here](https://www.w3.org/TR/html5/links.html) for details n' whatnot.

[2017-02-20 08:30] erichonkanen opened #53 "Why do all my generated meta tags have a "media=<foo>" attribute?"
All tags generated include a media attribute, what is causing that? it's leaking ember app structure...

`<meta property="og:image" content="https://foo.jpg" media="<client-web@service:media::ember227>" id="ember666" class="ember-view"></meta>`

[2017-03-01 09:38] TimvdEijnden commented on #53
I've also got this issue

[2017-03-03 13:31] ronco commented on #53
Are you using `ember-responsive`?  That library was auto-injecting itself into everything resulting in these tags being attached to tag nodes.  This was filed [here](https://github.com/freshbooks/ember-responsive/issues/77).  It looks like it's been fixed since then.  Alternatively it could be another addon with similar behavior, but the `media` attribute name makes me think it's `ember-responsive

[2017-03-03 13:31] ronco commented on #52
Thanks @XaserAcheron .  Care to put a PR together?

Cheers,
Ron

[2017-03-03 15:20] XaserAcheron commented on #52
I'll see if I can do that when I get some spare time. Apologies for the drive-by issue-ing. :P

[2017-03-05 06:12] erichonkanen commented on #53
@ronco yes we're using that! going to take a look thanks...

[2017-06-08 18:01] simonihmig opened #58 "FastBoot broken"
As of the latest release, which includes the updated ember-cli-head 0.3.0 with FastBoot 1.0 support (#56), this addon does not render meta tags in FastBoot anymore.

The root issue is this one: https://github.com/ember-fastboot/ember-cli-fastboot/issues/421

cc @cibernox

[2017-06-08 18:02] simonihmig commented on #58
As a workaround for now, you can fix that by adding ember-cli-head as a direct dependency to you project, btw...

[2017-06-08 18:24] cibernox commented on #58
@simonihmig I'm going to investigate it.

[2017-06-08 21:37] simonihmig commented on #58
This has been identified as a bug in FastBoot itself (see the mentioned issue above), and fixed by https://github.com/ember-fastboot/ember-cli-fastboot/pull/423!

Things should work again as expected with the next FastBoot release incorporating those changes. As there is nothing that remains to be done here, I will close this...

[2017-06-08 21:37] #58 closed

[2017-07-12 08:24] rizkysyazuli commented on #35
so how do you set title tag? doing this:

[code]

resulted in this:

[code]

[2017-07-13 15:27] rizkysyazuli commented on #53
i was here looking for the same thing. turns out this is explained in their [README](https://github.com/freshbooks/ember-responsive#injection). on the section about **injection**.

It basically says to delete `app/initializers/responsive.js`.

[2017-07-13 21:46] #53 closed

[2017-07-13 22:16] elidupuis opened #59 "Can this addon work in an Ember Engine?"
I'm trying to add `ember-cli-meta-tags` to an in-repo-engine and I'm getting the following error:
[code]

Based on https://github.com/ronco/ember-cli-meta-tags#using-with-other-ember-cli-head-addons, I've tried creating the `templates/head.hbs` template in both the `addon` and `app` folder but nothing seems to work.

Has anyone achieved this? Am I missing something?

[2017-07-14 21:10] elidupuis commented on #59
Looks like there's already an issue here: https://github.com/ronco/ember-cli-head/issues/23

[2017-07-14 21:10] #59 closed

[2018-01-24 16:56] jpnathan opened #63 "Ember-cli-meta-tags don't work with ember-page-title"
I follow the doc and it works fine without another addon based on ember-cli-head, but after install ember-page-title, the headTags defined on route didn't work. Is there some known issue?

[2018-02-20 19:18] snewcomer opened #64 "Investigate alternative use of instance-initializers"
In the new qunit API, instance-initializers are registered before we have access to our `beforeEach` hooks.  As a result, instance-initializers may setup, for example, the singleton `router:main` with injections already defined.  As a result, any attempt to stub a service will fail.

[code]

Two options may be:

1. User imports a mixin that defines the didTransition hook
2. Something to the extend

[2018-03-08 09:12] Redsandro commented on #58
@simonihmig said:

Should this also work with `ember-cli-fastboot` `beta.19`? Somehow I'm at a point where I can install all the beta versions, but starting with `rc.1`, the fastboot server will only return _bad request_.

Because if it should, I know I'm having a different problem, because the meta tags aren't showing up in the source. (They are _after_ fastboot, but that defeats the purpose.)

h

[2018-04-24 14:33] joeygilkie opened #67 "Not working properly with ember-page-title"
This add-on seems to be incompatible with ember-page-title. Just tested with a simplistic test case where the title tag is rendered twice, with the lower one being the only one to change.

[2018-05-23 22:08] Duder-onomy commented on #28
This would be incredibly helpful in fastboot

[2018-05-24 06:36] ultimatelocal opened #68 "EventEmitter memory leak detected."
Good day,

I'm getting this warning message whenever I'm starting my `ember server` and I don't know what causes `ember-cli-meta-tags` to ask for more listeners but for now, I'm using this quick fix  `process.setMaxListeners(21)` on my `ember-cli-build.js`.

The warning goes away when I have `process.setMaxListeners(21)`. Is this the right approach?

https://github.com/ember-cli/ember-cli/pull/598

[2018-06-27 06:39] begedin commented on #67
@joeygilkie We've released 5.0 yesterday. If you're still using this addon, can you confirm that the update fixes things for you?

[2018-07-21 16:59] snewcomer commented on #68
@ultimatelocal If you upgrade to `5.0` all should be good!  Feel free to close the issue if 5.0 fixes it for ya! ✌️

[2018-08-03 16:03] #64 closed

[2018-08-06 04:37] snewcomer commented on #68
Closing for now! Feel free to re-open if you are experiencing this or other errors!

[2018-08-06 04:37] #68 closed

[2018-08-06 04:37] snewcomer commented on #67
This should be fixed with #71 and the `5.0` release!  Lmk if you have any other issues.  Closing for now.

[2018-08-06 04:37] #67 closed

[2018-08-06 04:38] snewcomer commented on #63
@jpnathan Thanks for pointing this out.  `5.0` was released a month or so ago.  Does this solve it for you?

[2019-01-16 17:46] snewcomer commented on #63
Closing for now.  Thx for the report and feel free to reopen if you notice any more issues!

[2019-01-16 17:46] #63 closed

[2019-01-18 18:37] #50 closed

[2019-01-21 02:59] charuwts opened #76 "Deprecation handlerInfo.handler - [deprecation id: remove-handler-infos]"
This may be planned to be addressed before the deprecation takes placed, but thought I'd mention I'm getting this deprecation warning and it back traces to head-tags.js line 37

See https://emberjs.com/deprecations/v3.x#toc_remove-handler-infos for more details.

https://github.com/ronco/ember-cli-meta-tags/blob/6b14673dec4c43fb4d27fc06785aef60a3052107/addon/services/head-tags.js#L37

[code]

[2019-01-21 03:04] CvX commented on #76
PR #75 (released in 5.2.0) was supposed to take care of this deprecation.

What ember-source and ember-cli-meta-tags versions is your application using?

[2019-01-21 03:09] charuwts commented on #76
"ember-source": "~3.7.0",
"ember-cli-meta-tags": "^5.2.0",

[2019-01-21 03:14] charuwts commented on #76
Your PR does not appear to make any changes to the use of handlerInfo.handler

[2019-01-21 03:19] CvX commented on #76
Oh, it's not my PR, it was made by @snewcomer. And it did change the source handlerInfo: https://github.com/ronco/ember-cli-meta-tags/blob/6b14673dec4c43fb4d27fc06785aef60a3052107/addon/services/head-tags.js#L26-L38

Personally, I haven't tested that change in my apps yet…

[2019-01-21 03:20] charuwts commented on #76
Line 37 still uses the private method of handlerInfo

[2019-01-21 03:46] charuwts commented on #76
I don't know enough about the handlerInfo to know what's not being handled correctly. But please let me know if I can provide any further info to debug the problem.

[2019-01-21 16:06] #76 closed

[2019-01-23 20:43] raphaelns-developer opened #78 "`HandlersInfo` deprecation"
[code]

"ember-source": "~3.7.0",
"ember-cli-meta-tags": "^5.3.0",

[2019-01-23 20:51] snewcomer commented on #78
Hmmmm that would mean this conditional isn't working... 🤔

https://github.com/ronco/ember-cli-meta-tags/blob/master/addon/services/head-tags.js#L26

[2019-01-23 20:56] CvX commented on #78
Interesting… in my app, with ember-source 3.7.2 and ember-cli-meta-tags 5.3.0, I'm no longer getting this deprecation warnings.

[2019-01-28 18:04] raphaelns-developer commented on #78
When i start the command `ember s` i receive this warning.

[2019-02-01 13:31] puwelous commented on #78
me too

[2019-06-15 17:14] lougreenwood commented on #35
Bump - what's the syntax for setting the innerHTML of the `<title></title>` tag?

[2020-09-24 02:39] michaeljymsgutierrez opened #90 "Ember-cli-meta-tags already integrated on project"
Currently I have a project which uses this module `ember-cli-meta-tags`.
Now I'm wondering why the links I sent on social sites doesn't fetch the meta (description, title, image).
Does ember-cli-meta-tags requires the application to be server side rendered to make SEO works?

[2020-09-29 16:09] GavinJoyce commented on #90
possibly related to https://github.com/ronco/ember-cli-meta-tags/pull/81#discussion_r496774941

[2020-09-29 17:56] #90 closed

[2020-10-22 14:55] akaravashkin opened #92 "Ember Engines: problem with extraction head tags from undefined route"
Hello,

I am using Ember Engines. And I run into a problem when I need to abort transition in my lazy engine to another engine. I got:

[code]

[code]

Seems that because of lack of route infos I got `undefined` in `handlerInfo.route` in `head-tags.js:collectHeadTags()`. I'll create a simple pull request

[2020-11-09 19:00] #92 closed

[2021-03-23 22:01] Turbo87 opened #96 "Deprecation warning: Implicit `router` injection"
After updating https://github.com/rust-lang/crates.io to Ember 3.26 I've started seeing deprecation warnings that appear to be caused by this addon:

[2021-05-27 21:12] mehulkar opened #101 "Update to ember-cli-head@2"
https://github.com/ronco/ember-cli-head/blob/master/CHANGELOG.md#v200-2021-05-26

[2021-05-27 21:13] mehulkar opened #102 "Update to glimmer components"

[2022-01-05 10:19] gzurbach commented on #96
Can anyone confirm this issue is a blocker for apps updating to Ember 4?

I'd assume the implicit injection is used to maintain backward compatibility with older version of Ember. I'd be happy to submit a pull request with guidance from the project maintainers. What versions of Ember is this library supposed to be compatible with? Could we consider doing the implicit injection only for apps runnin

[2022-01-05 12:55] snewcomer commented on #96
@gzurbach Yes, we need to refactor this - https://github.com/ronco/ember-cli-meta-tags/blob/8dae2dee0adb9ca517fb58630459d67d64a46937/addon/initializers/head-tags.js

I was hoping to get [this](https://github.com/ronco/ember-cli-meta-tags/pull/104) merged first.  Let me see if I can help get it across the line today.

[2022-01-05 13:22] Turbo87 commented on #96
FWIW I've refactored crates.io away from `ember-cli-meta-tags` in https://github.com/rust-lang/crates.io/pull/4064. Our usage of it was simple enough that we didn't need the additional addon.

[2022-01-06 14:16] gzurbach commented on #96
@Turbo87 Thanks for the info. After digging into our code, we've reached the same conclusion: our needs are simple enough that `ember-cli-head` alone can do the job.

@snewcomer thank you for your work maintaining the library 🙏 And good luck for the upgrade 🌟

[2022-06-12 07:11] bobisjan commented on #102
This can be closed #118 🥳

[2022-06-12 07:11] bobisjan commented on #101
This can be closed #118 🥳

[2022-06-12 07:12] bobisjan commented on #96
This can be closed #118 🥳

[2022-06-12 07:12] bobisjan commented on #78
This can be closed #118 🥳

[2022-06-12 12:32] #102 closed

[2022-06-12 12:32] #101 closed

[2022-06-12 12:32] #96 closed

[2022-06-12 12:32] #78 closed